* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

table {
  width: 100%; }

td, th {
  text-align: center;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: black; }

.container {
  display: flex;
  width: 1000px;
  margin: 0 10px; }

.header, .main-menu, .categories, .footer, .content {
  display: flex;
  width: 100%; }

.content {
  width: 100%;
  justify-content: center; }
  .content .container {
    display: block; }
    .content .container h1 {
      width: 100%;
      display: block; }

.login-form {
  margin: 10px 0; }
  .login-form input {
    height: 30px;
    margin: 3px 0 3px 50px;
    padding: 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .login-form-status {
    color: darkred; }

.header {
  justify-content: center;
  height: 100px; }
  .header .container {
    justify-content: space-between;
    justify-items: center; }
  .header-logo {
    margin-top: 7px;
    height: 90px; }
    .header-logocontainer {
      display: flex; }
  .header-company-name {
    display: block;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px; }
  .header-cart-container {
    width: 150px;
    height: 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .header-cart-container-header {
      display: block;
      text-align: center; }
    .header-cart-container-link {
      display: block;
      text-align: center; }

.main-menu {
  height: 30px;
  margin-bottom: 20px;
  background-color: darkred;
  justify-content: center; }
  .main-menu-items {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%; }
  .main-menu-item {
    list-style-type: none;
    margin-right: 20px;
    border-bottom: transparent; }
    .main-menu-item a {
      display: block;
      padding-top: 7px;
      padding-right: 7px;
      padding-left: 7px;
      padding-bottom: 3px;
      border-radius: 10px 10px 0 0;
      text-decoration: none;
      font-weight: bold;
      background-color: white;
      color: rgba(0, 13, 122, 0.89); }

.categories {
  justify-content: space-around;
  margin-top: 10px; }
  .categories .container {
    justify-content: space-around;
    flex-wrap: wrap; }
  .categories-nav {
    width: 100%;
    display: block; }

.category {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px; }
  .category-image {
    height: 150px; }
  .category-name {
    display: block;
    text-decoration: none;
    text-underline: none; }
  .category-link {
    display: table-cell;
    margin-top: 5px;
    text-align: center; }

.goods {
  display: flex;
  margin-top: 10px;
  justify-content: center; }
  .goods .container {
    display: block; }

.good {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 5px; }
  .good:last-child {
    border-bottom: transparent; }
  .good-descr {
    margin: 0 10px; }
  .good-name {
    display: block;
    margin: 3px 0;
    font-weight: bold;
    text-decoration: none; }
  .good-image {
    max-height: 80px;
    max-width: 80px;
    margin: 5px; }
  .good-buy-container {
    min-width: 100px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center; }
  .good-price {
    text-align: center; }

.view-good-up {
  display: flex;
  margin: 10px 0;
  justify-content: space-around; }
.view-good-image {
  max-width: 300px;
  max-height: 300px; }
.view-good-buy {
  margin-top: 20px; }
  .view-good-buy * {
    margin-top: 10px; }
  .view-good-buy button {
    width: 100%; }
.view-good-descr {
  margin-top: 10px; }

.footer {
  height: 100px;
  margin-top: 20px;
  justify-content: center;
  background-color: rgba(0, 13, 122, 0.89); }
  .footer .container {
    flex-direction: column;
    justify-content: space-around; }
  .footer-disclaimer {
    display: block;
    text-align: center;
    color: #FFFFFF; }

/*# sourceMappingURL=default.css.map */
