{% include 'header.html' %}
<div class="content">
    <div class="container">
        <h1>Главная страница сайта</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda blanditiis, culpa
            debitis,
            distinctio doloremque dolores error ex fugiat ipsam iste labore laudantium nam nesciunt qui quos repellat
            soluta tempora veritatis.
            Accusantium cumque eos perferendis. Ad aperiam, beatae debitis molestiae odio ratione tempore? Fugiat ipsum
            maiores nobis perspiciatis quidem?</p></div>
</div>
{% include 'footer.html' %}