<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/default.css">
    <title>{{ title }}</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/category.js"></script>
<body>
<div class="header">
    <div class="container">

    </div>
</div>
<!--<ul>-->
<!--{% for category in categories %}-->
<!--<li>-->
<!--<a href="/categories/?id={{ category.id_category }}" link="{{ category.id_category }}" class="category-link">{{ category.name }}</a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<nav class="main-menu">
    <div class="container">
        <a href="index.php?path=catalog">Магазин</a> <a href="index.php?path=user">Личный кабинет</a>
    </div>
</nav>


