{% include 'header.html' %}

<div class="content">
    <div class="container">
        <h1>{{ pc.h1 }}</h1>
        {% if pc.parent_link.parent_id != null %}
        <nav class="categories-nav">
            <a href="index.php?path=catalog/{{ pc.parent_link.parent_id}}">Назад</a>
        </nav>
        {% endif %}
    </div>
</div>
<div class="categories">
    <div class="container">
        {% for category in pc.categories %}
        <div class="category">
            <a href="index.php?path=catalog/{{ category.id_category }}/" class="category-link">
                <img src="{{ category.photo }}" alt="{{ category.name }}" class="category-image"><br>
                <span class="category-name">{{ category.name }}</span></a>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}