{% include 'header.html' %}
<a href="index.php?path=user/logout">Выйти из личного кабинета</a>
<p>Каталог товаров</p>
<a href="index.php?path=catalog/">Вернуться в родительскую категорию</a>
<div class="categories">
    {% for category in categories %}
    <div class="category">
        <a href="index.php?path=catalog/{{ category.id_category }}/">
            <img src="{{ category.photo }}" alt="{{ category.name }}"><br>
            {{ category.name }}</a>
    </div>
    {% endfor %}
</div>
{% include 'footer.html' %}