<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Image Gallery</title>
</head>
<body>
<div class="header"><h1><i class="icon icon-picture"></i></i> Галерея. Фронэнд </h1></div>
<div class="container">
    <div class="gallery">

        {% for image in images %}
        <div class="image"><a class="pictures" rel="gallery" href="viewimage.php?id=' {{ image.id }}"><img
                        src="{{ image.path2thumb }}"><br></a>
            <div class="hits"><i class="icon icon-eye">{{ image.hits }}'</i></div>
        {% endfor %}
    </div>
    <div class="footer">
        <hr>
        <a class="switch icon icon-edit" href="admin.php"> Войти в админку</a>
    </div>
</div>
</body>
</html>

