<html>
<head>
    {#<link rel="stylesheet" type="text/css" href="main.css"/>#}
</head>
<body>
<div id="page">
    <div class="goods" id="header">
        <ol>
            {% for good in goods %}
                <li>Название: {{ good.nameFull }}, ингридиенты: {{ good.param }}. Цена: {{ good.price }}</li>
            {% endfor %}
        </ol>
    </div>
    <a href="{{ link }}"><< Еще >></a>
    <div id="footer">
    </div>
</div>
</body>
</html>