<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
<div id="page">
    <div class="goods" id="header">
        {% for good in goods %}
        {% endfor %}
    </div>
    <div id="footer">
        {#{% include 'footer.tmpl' %}#}
    </div>
</div>
</body>
</html>