<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" href="fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen"/>
    <title>Image Gallery Administration</title>
</head>
<body>
<div class="header"><h1><i class="icon icon-edit"></i> Галерея. Админка</h1>
</div>
<div class="container">
    <div class="gallery">

        {% for image in images %}
            <div class="image"><a class="pictures" rel="gallery" href="{{ image.path2large }}"><img src="{{ image.path2thumb }}"><br></a>
                <div class="actionButton"><i class="icon icon-eye">{{ image.hits }}</i>
                    <a class="icon-ccw icon" href="?action=ccw&id={{ image.id }}"></a>
                    <a class="icon-cw icon" href="?action=cw&id={{ image.id }}"></a>
                    <a class="icon-trash icon" href="?action=delete&id={{ image.id }}"></a></div></div>

            {% endfor %}
    </div>
    <br>
    <hr>
    <br>
    <form action="admin.php" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*" class="browse">
        <button type="submit" class="upload">
            <i class="icon icon-upload-cloud font"></i>
        </button>
    </form>
    <script>
        $("a.pictures").fancybox();
    </script>
    <div class="footer">
        <hr>
        <a class="switch icon icon-picture" href="index.php"> Перейти во фронтэнд</a>
    </div>
</div>
</body>
</html>




