
.icon-trash:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-upload-cloud:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */